body {
  margin: 0%;
}
#sec1 {
  background-image: url("Gridfiti_AestheticColorPalettes_Synthwave.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
}
nav {
  font-weight: 300;
  background-color: rgb(240, 181, 143);
  font-size: 40 px;
  position: fixed;
  top: 0%;
}
ul {

  list-style-type: none;
  margin-top: 0%;
  margin-left: -2%;
  margin-right: 0%;
}
#home {
  margin-left: 83vw;
}
li {
  font-family: "Amatic SC", cursive;
  display: inline-block;
  margin: 0px 3px;
  font-size: 30px;
}
#kj {
  margin-top: 0%;
  font-family: "Amatic SC", cursive;
  font-size: 37px;
  padding: 0%;
  margin-block-end: -40px;
  text-shadow: 2px 2px rgb(232, 82, 141);
}
#hi {
 
  font-size: 150px;
  text-align: center;
  color: rgb(250, 185, 141);
  text-shadow: 2px 2px black;
}
#intro {
  font-size: 80px;
  text-align: center;
  color: rgb(250, 185, 141);
  text-shadow: 2px 2px black;
}
#sec2 {
  background-color: rgb(106, 40, 78);
}
#sec3 {
  background-color: rgb(232, 82, 141);
}
