#sec1{
    background-image:url("Gridfiti_AestheticColorPalettes_Synthwave.jpg") ;
}
nav{
    position: relative;
    font-weight: 300;
}
#kj{
    margin-top: 0%;
    border-right: 500px;
   
}
h1{
    font-size: 150px;
    text-align: center;
    position: inherit;
    color: rgb(224, 72, 121);
    
}